.contact-us {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    opacity: 0;
    margin: 0;
    transition: all 300ms ease-in-out;
}

.contact-us.active {
    display: flex;
    opacity: 1;
    background-color: rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    padding: 60px 100px 80px 100px;
    border-radius: 45px;
    background: var(--grey);
    align-items: stretch;
    gap: 25px;

    max-width: 1240px;
    width: 100%;

    overflow: hidden;

    position: relative;
}

label {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

input, textarea {
    display: block;
    padding: 18px 30px;
    background-color: var(--bright);
    border-radius: 14px;
    border: 1px solid var(--black);
    margin-top: 5px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

textarea {
    resize: none;
}

.contact-us__form > * {
    max-width: 556px;
}

.contact-us__cover {
    height: 600px;
    position: absolute;
    right: -260px;
    top: 0;
}

.popup__close {
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

@media screen and (max-width: 1000px) {
    .contact-us__cover {
        display: none;
    }
    .contact-us__form {
        padding: 40px;
    }
    .contact-us__form > * {
        max-width: 100%;
    }
}