.first-screen__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.first-screen__img {
    max-width: 600.462px;
    width: 100%;
    object-fit: contain;
}

.first-screen__texts {
    display: flex;
    max-width: 531px;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .first-screen__img {
        max-width: 400px;
    }
}