.testimonials__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 84px 0px 68px 0px;
    border-radius: 45px;
    background: var(--dark);
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin: 0 auto; 
}

.testimonials__cards {
    display: flex;
    gap: 50px;
    margin-bottom: 124px;
    transition: transform 0.4s ease-in-out; 
    padding: 0 20px; 
    width: calc(100% - 40px);
}

.testimonial-card {
    width: 606px;
    color: var(--bright);
    flex-shrink: 0;
    scroll-snap-align: start;
}

.testimonial-card__content {
    border-radius: 45px;
    border: 2px solid var(--primary);
    padding: 48px 52px;
    position: relative;
}

.testimonial-card__content::after {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    border-right: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    background-color: var(--dark);
    transform: rotate(45deg);
    position: absolute;
    left: 51px;
    bottom: -31px;
    z-index: 4;
}

.testimonial-card__author {
    margin-left: 80px;
    margin-top: 60px;
}

.testimonial-card__name {
    color: var(--primary);
}

.testimonials-nav {
    display: flex;
    justify-content: space-between;
    max-width: 564px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.testimonials-nav__btn {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.testimonials-nav__btn:hover {
    opacity: 0.8 !important;
}

.testimonials__cards {
    user-select: none;
    -webkit-user-drag: none;
}

.testimonials-nav__pag-svg path {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.testimonials-nav__pag-svg path:hover {
    fill: rgba(255, 255, 255, 0.6) !important;
}

@media (max-width: 768px) {
    .testimonials__content {
        padding: 40px 0;
        border-radius: 25px;
    }
    
    .testimonial-card {
        width: calc(100vw - 40px);
        max-width: 100%;
    }
    
    .testimonial-card__content {
        padding: 30px;
    }
    
    .testimonial-card__content::after {
        left: 50px;
        bottom: -26px;
        width: 50px;
        height: 50px;
    }
    
    .testimonial-card__author {
        margin-left: 40px;
        margin-top: 40px;
    }
    
    .testimonials-nav {
        max-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .testimonials__cards {
        margin-bottom: 40px;
    }

    .testimonials-nav {
        justify-content: center;
    }
    
    .testimonials-nav__btn {
        display: none;
    }
}